body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  align-items: center;
}
img{
  align-items: center;
}
a{
  padding: 10px;
  background-color: grey;
}
figcaption{
  size: 8px;
  align-items: center;
}
p{
  width: 800px;
  align-items: center;
}
div{
  float: left;
  background-color: red;
  align-items: center;
  width: 25%;
}